.nabl-button {
    background: #003171;
    border: 0cm;
    color: #ffffff;
    padding: 0px 10px 0px 10px;
    border-radius: 0cm;;
  }
  
  .nabl-button:hover {
    background-color: #3BAFDA;
    color: white;
    height: 50px;
  }